#header {
	width: 100%;
	border: 2px solid black;
	text-align: center;
}

#header h1 {
	border: 2px dashed blue;
}

#choiceContainer {
	width: 100%;
	border: 2px solid red;
}

#resultContainer {
	width: 100%;
	border: 2px dashed green;
}

#scoreContainer {
	width: 100;
	border: 2px solid blue;
}

#footer {
	width: 100%;
	border: 2px dashed red;
}


