#header {
	width: 100%;
	border: 2px solid black;
	text-align: center;
}

#header h1 {
	border: 2px dashed blue;
}

#choiceContainer {
	width: 100%;
	border: 2px solid red;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#choiceContainer div {
	width: 225px;
	height: 225px;
	border: 2px solid black;
}

#resultContainer {
	width: 100%;
	border: 2px dashed green;
}

#scoreContainer {
	width: 100;
	border: 2px solid blue;
}

#footer {
	width: 100%;
	border: 2px dashed red;
}


